.title{
    border: 2px dashed black;
    color: lightpink;
    width: 508px;
    text-align: center;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none;
}

h3, #pontos{
    display: inline;
    
}

#debug{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgrey;
    width: 200px;
}